<div style='border: 3px dashed red'>  
 	<% if @value %>     
    	Hello, your result is: <%= @result %>! 
  	<% else %>  
		"Welcome to Fizzbuzz."  
		<form action="/fizzbuzz">
	      Please enter your number
	      <input type="text" name="x">
	      <input type="submit">
	    </form> 
	<% end %>
	     <img src='http://www.beachpackagingdesign.com/wp/wp-content/uploads/2012/10/ClarenceSaunders-KeedoozleKey.jpg'>    
</div>


