<div style='border: 3px dashed red'>   
  <% if @x % 3 == 0 %>      
    Fizz  
  <% end %>   
</div>



<!-- if value % 3 == 0 && value % 5 == 0
     @result = "FizzBuzz"
    elsif value % 3 == 0
     @result = "Fizz "
    elsif value % 5 == 0
     @result = "Buzz "
    else
     @result = "#{value}"
    end -->